.sterling-button.outline {
  background-color: var(--colorTransparentBackground);
}

.sterling-button.outline:hover {
  background-color: var(--colorTransparentBackgroundHover);
}

.sterling-button.outline:hover:active {
  background-color: var(--colorTransparentBackgroundPressed);
}
