.sterling-button.subtle {
  background-color: var(--colorSubtleBackground);
  border-color: transparent;
  color: var(--colorNeutralForeground2);
}

.sterling-button.subtle:hover {
  background-color: var(--colorSubtleBackgroundHover);
  border-color: transparent;
  color: var(--colorNeutralForeground2Hover);
}

.sterling-button.subtle:hover:active {
  background-color: var(--colorSubtleBackgroundPressed);
  border-color: transparent;
  color: var(--colorNeutralForeground2Pressed);
}

@media (forced-colors: active) {
  .sterling-button.subtle {
    color: Highlight;
  }
  .sterling-button.subtle:hover {
    color: Highlight;
  }

  .sterling-button.subtle::hover:active {
    color: Highlight;
  }
}
