.sterling-button:disabled,
.sterling-button:disabled:hover,
.sterling-button:disabled:hover:active {
  background-color: var(--colorNeutralBackgroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
  color: var(--colorNeutralForegroundDisabled);
  cursor: not-allowed;
}

@media (forced-colors: active) {
  .sterling-button:disabled,
  .sterling-button:disabled:hover,
  .sterling-button:disabled:hover:active {
    background-color: ButtonFace;
    border-color: GrayText;
    color: GrayText;
  }
}

/* ----- disabled outline variant ----- */

.sterling-button.outline:disabled,
.sterling-button.outline:disabled:hover,
.sterling-button.outline:disabled:hover:active {
  background-color: var(--colorTransparentBackground);
}

/* ----- primary variant ----- */

.sterling-button.primary:disabled,
.sterling-button.primary:disabled:hover,
.sterling-button.primary:disabled:hover:active {
  border-color: transparent;
}

/* ----- subtle, disabled variants ----- */

.sterling-button.subtle:disabled,
.sterling-button.subtle:disabled:hover,
.sterling-button.subtle:disabled:hover:active,
.sterling-button.transparent:disabled,
.sterling-button.transparent:disabled:hover,
.sterling-button.transparent:disabled:hover:active {
  background-color: var(--colorTransparentBackground);
  border-color: transparent;
}
