.sterling-button.small {
  min-width: 64px;
  padding: 3px var(--spacingHorizontalS);

  border-radius: var(--borderRadiusMedium);

  font-size: var(--fontSizeBase200);
  font-weight: var(--fontWeightRegular);
  line-height: var(--lineHeightBase200);
}

.sterling-button.large {
  min-width: 96px;
  padding: 8px var(--spacingHorizontalL);

  border-radius: var(--borderRadiusMedium);

  font-size: var(--fontSizeBase400);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightBase400);
}
