.sterling-input.outline:not(.disabled):hover {
  border-color: var(--colorNeutralStroke1Hover);
  border-bottom-color: var(--colorNeutralStrokeAccessibleHover);
}

.sterling-input.outline:not(.disabled):active,
.sterling-input.outline:not(.disabled):focus-within {
  border-color: var(--colorNeutralStroke1Pressed);
  border-bottom-color: var(--colorNeutralStrokeAccessiblePressed);
}
