.sterling-input.filled-lighter,
.sterling-input.filled-darker {
  border-color: var(--colorTransparentStroke);
}

.sterling-input.filled-lighter:not(.disabled):hover,
.sterling-input.filled-darker:not(.disabled):hover,
.sterling-input.filled-lighter:not(.disabled):focus-within,
.sterling-input.filled-darker:not(.disabled):focus-within {
  border-color: var(--colorTransparentStrokeInteractive);
}

.sterling-input.filled-darker {
  background-color: var(--colorNeutralBackground3);
}
.sterling-input.filled-lighter {
  background-color: var(--colorNeutralBackground1);
}
.sterling-input.filled-darker-shadow {
  background-color: var(--colorNeutralBackground3);
  box-shadow: var(--shadow2);
}
.sterling-input.filled-lighter-shadow {
  background-color: var(--colorNeutralBackground1);
  box-shadow: var(--shadow2);
}
