.sterling-input.composed,
.sterling-input.composed:focus-within,
.sterling-input.composed::after,
.sterling-input.composed:focus-within:after,
.sterling-input.composed:focus-within:active::after {
  background-color: transparent;
  border-color: transparent;
  outline: none;
}
